<div class="drop-box">
<input type="text" name="source" placeholder="Image URL" style="width:800px; height:50px; font-size: 2rem; color: #ccc;">
<p>
<input type="text" name="caption" placeholder="Image Caption" style="width:800px; height:50px; font-size: 2rem; color: #ccc;">
<p style="text-align: right;"">

<input type="submit" name="Cancel" value="" class="js-cancel-btn" style="
    background-image: url('app/img/cancelbutton.png'); background-size: contain; height: 72px; width: 152px; border: none; border-radius: 10px;
    border-color: #fff;">

<input type="submit" name="Add Image" value="" style="
    background-image: url('app/img/addbutton.png'); background-size: contain; height: 73px; width: 230px; border: none; border-radius: 10px;
    border-color: #fff;">
</div>
